<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delphi - Simple LTL Rater</title>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Delphi</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="batch">Batch Rater</a>
                    </li>
                    <li class="page-scroll">
                        <a href="ltl_discounts">Discounts</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->

    <!-- Contact Section -->
    <header id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name2">LTL Discounts</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>

            <p>
  <%= link_to "Download", ltl_discount_path(format: "csv"), class: "btn btn-primary btn-sm" %>
</p>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
<table id="ltl_discounts" class="table table-condensed table-responsive table-striped">
  <thead>
    <tr>
      <th style="text-align:center">SCAC</th>
      <th style="text-align:center">Origin State</th>
      <th style="text-align:center">Destination State</th>
      <th style="text-align:center">Discount</th>
      <th style="text-align:center">Min Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @ltl_discounts.each do |ltl_discount| %>
      <tr>
        <td style="color:#4d4d4d"><%= ltl_discount.carrier_scac %></td>
        <td style="color:#4d4d4d"><%= ltl_discount.origin_state %></td>
        <td style="color:#4d4d4d"><%= ltl_discount.dest_state %></td>
        <td style="color:#4d4d4d"><%= number_to_percentage(ltl_discount.discount * 100, precision: 2) %></td>
        <td style="color:#4d4d4d"><%= number_to_currency(ltl_discount.min) %></td>
      </tr>
    <% end %>
  </tbody>


</table>
                </div>
            </div>
        </div>
    </header>


    <!-- Footer -->
    <footer class="text-center">

        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; NAP <%= Time.now.year %> | <%= link_to 'About', page_path('about') %> 
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>





</body>

</html>

